@import "smart-grid.less";
@import "var.less";
@import "fonts.less";

.reset();
.debug {
	.debug(rgba(0, 0, 0, 0.1), 1px solid blue);
}

.wrapper {  // центрущая обертка
	.wrapper();
}

.body {
	box-sizing: border-box;
}

.mixinblocktastes {
  //border: @border;
  margin: 10px;
  outline: 5px solid @colorcream;
  outline-offset: -15px;
  width: 45%;
  position: relative;
  top: 130px;
	transition: @transition;
	.xl-block({
		width: 40%;
		transition: @transition;
	});
	.lg-block({
		display: flex;
		flex-direction: column;
		width: 60%;
		transition: @transition;
		top: 50px;
	});
	.md-block({
		width: 70%;
		transition: @transition;
		margin: 20px 0;
	});
	.sm-block({
		width: 80%;
		margin: 25px 0;
		top: 5px;
	});
	.xs-block({
		width: 95%;
		margin: 30px 0;
	});
  img {
    width: 100%;
  }
}

// PASTRY START
.pastry {
	&__wrap {
		background: url("../pict/img_bg.png");
		background-size: cover;
	}
	&__headerMenu {
		//border: @border;
		display: flex;
		justify-content: center;
		height: 80px;
		background-color: rgba(0, 0, 0, 0.3);
		transition: @transition;
		.md-block({
			height: 200px;
			transition: @transition;
		});
		.sm-block({
			height: 450px;
		});
		.xs-block({
			margin-bottom: 30px;
		});
	}
	&__block {
		//border: @border;
		width: 83%;
		display: flex;
		font-family: 'Dancing Script', cursive;
		transition: @transition;
		.lg-block({
			width: 95%;
			transition: @transition;
		});
		.md-block({
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			transition: @transition;
		});
	}
	&__logo {
		//border: @border;
		width: 15%;
		.md-block({
			width: 150px;
			margin: 10px;
		});
		img {
			//border: @border;
			height: 100%;
			width: 90%;
			transition: @transition;
			.xl-block({
				width: 100%;
				transition: @transition;
			});
			.lg-block({
				width: 100%;
			});
		}
	}
	&__menu {
		//border: @border;
		display: flex;
		justify-content: center;
		width: 75%;
		color: white;
		.md-block({
			width: 100%;
		});
	}
	&__menublock {
		//border: @border;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 95%;
		.md-block({
			width: 100%;
			margin: 10px;
		});
		.sm-block({
			flex-direction: column;
		});
		a {
			//border: @border;
			display: flex;
			justify-content: center;
			flex-grow: 1;
			color: white;
			font-size: 1.2rem;
			text-decoration: none;
			transition: @transition;
			&:hover {
				background: rgba(255, 255, 255, 0.7);
				color: black;
				padding: 10px;
				border-radius: 10px;
			}
			.xl-block({
				font-size: 1rem;
				transition: @transition;
			});
			.lg-block({
				padding: 5px;
			});
		}
		span {
			padding: 0 3px;
		}
	}
	&__socialnetwork {
		//border: @border;
		width: 12%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		.md-block({
			margin: 10px;
			height: 15%;
			width: 150px;
		});
		.sm-block({
			width: 200px;
		});
		img {
			//border: @border;
			width: 20px;
			padding: 10px;
			margin: 7px;
			transition: @transition;
			&:hover {
				background: rgba(255, 255, 255, 0.3);
				border-radius: 10px;
				color: black;
				transition: @transition;
			}
			.md-block({
				width: 30px;
			});
			.sm-block({
				width: 30px;
			});
		}
	}
	&__withlove {
		//border: @border;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: white;
	}
	&__textlove {
		//border: @border;
		display: flex;
		justify-content: center;
		align-self: center;
		width: 90%;
		margin-bottom: 20px;
		span {
			//border: @border;
			text-align: center;
			font-family: 'Courgette', cursive;
			font-style: italic;
			font-size: 8.2rem;
			text-shadow: 2px 2px 7px #000;
			transition: @transition;
			.xl-block({
				font-size: 7.1rem;
				transition: @transition;
			});
			.lg-block({
				font-size: 6rem;
			});
			.sm-block({
				font-size: 5rem;
			});
		}
	}
	&__dashed {
		//border: @border;
		display: flex;
		justify-content: center;
		margin: 40px;
		img {
			//border: @border;
			width: 15%;
			height: 100%;
			transition: @transition;
			.lg-block({
				width: 25%;
				transition: @transition;
			});
			.md-block({
				width: 35%;
			});
			.xs-block({
				width: 45%;
			});
		}
	}
	&__text {
		//border: @border;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 40px;
		span {
			//border: @border;
			align-self: center;
			font-size: 1.7rem;
			font-family: 'Mukta', sans-serif;
			text-shadow: 2px 2px 7px #000;
			letter-spacing: 3px;
			text-align: center;
			transition: @transition;
			.lg-block({
				font-size: 1.3rem;
				transition: @transition;
			});
		}
	}
	&__btn {
		//border: @border;
		display: flex;
		justify-content: center;
		margin: 40px;
		button {
			width: 220px;
			height: 50px;
			background-color: rgba(0, 0, 0, 0.3);
			border: 1px dashed darkgray;
			color: white;
			font-size: 1rem;
			cursor: pointer;
			font-family: 'Mukta', sans-serif;
			transition: @transition;
			outline: 0;
			&:hover {
				box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
				transform: scale(1.1, 1.1);
				outline: 0;
			}
			.sm-block({
				width: 180px;
				height: 40px;
				transition: @transition;
			});
			.xs-block({
				margin-bottom: 100px;
			});
		}
	}
}

// PASTRY STOP

//  -----------

// ART START
.art {
	&__wrap {
		//border: @border;
		display: flex;
		justify-content: center;
		flex-direction: column;
		background: url("../pict/img_bg2.png");
		background-size: cover;
	}
	&__bread {
		//border: @border;
		height: 1px;
		img {
			position: relative;
			top: -51px;
			//border: 1px solid green;
			width: 100%;
			transition: @transition;
			.xxl-block({
				top: -40px;
				transition: @transition;
			});
			.xl-block({
				top: -35px;
				transition: @transition;
			});
			.lg-block({
				top: -25px;
				transform: scale(1.5, 1.5);
			});
			.md-block({
				top: -20px;
				transform: scale(2, 2);
			});
			.sm-block({
				top: -15px;
				transform: scale(2.5, 2.5);
			});
			.xs-block({
				top: -10px;
			});
		}
	}
	&__content {
		//border: @border;
		display: flex;
		justify-content: center;
	}
	&__leftcontent {
		//border: @border;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 40%;
		transition: @transition;
		.xxl-block({
			width: 45%;
			transition: @transition;
		});
	}
	&__headertext {
		//border: @border;
		text-align: center;
		color: @colortextdarkgray;
		font-family: 'Lobster', cursive;
		span {
			font-size: 4rem;
			transition: @transition;
			.xxl-block({
				font-size: 3rem;
				transition: @transition;
			});
		}
	}
	&__create {
    //border: @border;
		text-align: center;
		color: @colortextlightgray;
		margin-bottom: 50px;
		.xxl-block({
			margin-bottom: 40px;
		});
		span {
			font-size: 1.1rem;
			transition: @transition;
			.xxl-block({
				font-size: 0.9rem;
				transition: @transition;
			});
		}
	}
	&__describeart {
		//border: @border;
		align-self: center;
		text-align: center;
		width: 60%;
		margin-bottom: 40px;
		font-family: 'Satisfy', cursive;
		transition: @transition;
		.xxl-block({
			width: 65%;
			margin-bottom: 20px;
			transition: @transition;
		});
		span {
			color: @colortextdarkgray;
			transition: @transition;
			.xxl-block({
				font-size: 0.9rem;
				transition: @transition;
			});
		}
	}
	&__chefcook {
		//border: @border;
		text-align: center;
		margin-bottom: 40px;
		font-family: 'Lobster', cursive;
		transition: @transition;
		.xxl-block({
			margin-bottom: 20px;
			transition: @transition;
		});
		span {
			font-size: 1.5rem;
			font-weight: bolder;
			color: @colortextdarkgray;
			transition: @transition;
			.xxl-block({
				font-size: 1.3rem;
				transition: @transition;
			});
		}
	}
	&__benitogaspare {
		//border: @border;
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
		font-family: 'Lobster', cursive;
		font-size: 1.5rem;
		transition: @transition;
		.xxl-block({
			margin-bottom: 20px;
			transition: @transition;
		});
		.xl-block({
			justify-content: space-between;
			transition: @transition;
		});
		.lg-block({
			flex-direction: column;
			align-items: center;
			transition: @transition;
		});
	}
	&__benito {
		border-bottom: 1px solid @colortextlightgray;
		border-top: 1px solid @colortextlightgray;
		align-self: center;
		padding: 15px 25px;
		margin: 0 35px;
		transition: @transition;
		.xxl-block({
			font-size: 1.2rem;
		});
		.xl-block({
			font-size: 1rem;
		});
	}
	&__facepict {
		//border: @border;
		width: 120px;
		height: 120px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__gaspare {
		border-bottom: 1px solid @colortextlightgray;
		border-top: 1px solid @colortextlightgray;
		align-self: center;
		padding: 15px 25px;
		margin: 0 35px;
		transition: @transition;
		.xxl-block({
			font-size: 1.2rem;
			transition: @transition;
		});
		.xl-block({
			font-size: 1rem;
		});
	}
    &__autograph {
      //border: @border;
      display: flex;
      flex-direction: row;
      justify-content: center;
			height: 100px;
			.xs-block({
				display: none;
			});

    }
    &__commatop {
      //border: @border;
	  	margin: 0 55px;
			width: 30px;
			transition: @transition;
			.xl-block({
				margin: 0 30px;
				transition: @transition;
			});
			.lg-block({
				margin: 0 10px;
			});
			.md-block({
				display: none;
			});
    }
    &__citate {
		//border: @border;
		align-self: center;
		text-align: center;
		transition: @transition;
		img {
			//border: @border;
			width: 80%;
			transition: @transition;
			.md-block({
				width: 100%;
			});
		}
		.xl-block({
			width: 400px;
			transition: @transition;
		});
    }
    &__commabottom {
      //border: @border;
      display: flex;
      justify-content: flex-end;
	  	margin: 0 55px;
			width: 30px;
			transition: @transition;
			.xl-block({
				margin: 0 30px;
				transition: @transition;
			});
			.lg-block({
				margin: 0 10px;
			});
			.md-block({
				display: none;
			});
      img {
        align-self: flex-end;
        transform: rotate(180deg);
				transition: @transition;
      }
    }

	&__rightcontent {
			//border: @border;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
			width: 40%;
			transition: @transition;
			.xxl-block({
				width: 45%;
				transition: @transition;
			});
	}
    &__oneblock {
      .mixinblocktastes();
    }
    &__twoblock {
      .mixinblocktastes();
    }
    &__threeblock {
      .mixinblocktastes();
    }
    &__fourblock {
      .mixinblocktastes();
    }
    &__fiveblock {
      //border: @border;
			display: flex;
			justify-content: center;
      position: relative;
	  	bottom: 35%;
			width: 240px;
			height: 240px;
			transition: @transition;
	  	.mgxl-block({
	  		bottom: 33%;
				transition: @transition;
	  	});
	  	.xxl-block({
	  		bottom: 30%;
				width: 220px;
				height: 220px;
				transition: @transition;
	  	});
			.xl-block({
				width: 180px;
				height: 180px;
			  bottom: 28%;
			});
			.lg-block({
				display: none;
			});
      img {
				transition: @transition;
				width: 100%;
      }
      span {
				//border: @border;
        position: absolute;
        font-size: 2rem;
        text-align: center;
        top: 35%;
        color: @colorgold;
				transition: @transition;
				.xxl-block({
					font-size: 1.7rem;
					transition: @transition;
				});
      }
    }
}
// ART STOP

// ------

// PANCAKES START

.pancakes {
	&__wrap {
		border: 1px solid transparent;
		background: url("../pict/img_bg3.png");
		background-size: cover;
		transition: @transition;
		.md-block({
			height: 1200px;
			transition: @transition;
		});
		.lg-block({
			margin-top: 100px;
			transition: @transition;
		});
		.sm-block({
			margin-top: 30px;
		});
	}
	&__generalblock {
		//border: @border;
		display: flex;
		justify-content: center;
		height: 550px;
		margin: 170px 0 150px 0;
	}
	&__centerblock {
		//border: @border;
		display: flex;
		position: relative;
		height: 100%;
		width: 65%;
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
		transition: @transition;
		.shift-right(1);
		.xxl-block({
			.shift-right(0);
			width: 80%;
		});
		.xl-block({
			.shift-right(0);
			width: 85%;
			transition: @transition;
		});
		.md-block({
			.shift-right(0);
			flex-direction: column;
			width: 90%;
			height: 850px;
		});
	}
	&__fritter {
		//border: @border;
		display: flex;
		align-items: center;
		width: 40%;
		height: 100%;
		background-image: url("../pict/pancakes.png");
		background-size: cover;
		.md-block({
			width: 100%;
		});
	}
	&__stars {
		//border: @border;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		position: relative;
		width: 5%;
		height: 34%;
		left: 5%;
		transition: @transition;
		.xxl-block({
			width: 5%;
			height: 32%;
			transition: @transition;
		});
		.lg-block({
			width: 7%;
		});
		.md-block({
			flex-direction: row;
			align-self: flex-end;
			width: 45%;
			height: 5%;
			left: 25%;
			margin-bottom: 10px;
		});
		.sm-block({
			width: 60%;
			height: 4%;
			left: 20%;
		});
		.xs-block({
			height: 5%;
		});
	}
	&__describefritter {
		//border: @border;
		width: 60%;
		background-color: white;
		background-image: url("../pict/mill.png");
		background-size: auto;
		background-repeat: no-repeat;
		background-position: right bottom;
		.md-block({
			width: 100%;
		});
	}
	&__textpancakes {
		//border: @border;
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 70%;
	}
	&__tastyheader {
		//border: @border;
		font-family: 'Lobster', cursive;
		width: 80%;
		font-size: 3.7rem;
		align-self: center;
		color: @colortextdarkgray;
		transition: @transition;
		.xl-block({
			font-size: 3.2rem;
		});
		.lg-block({
			font-size: 3rem;
			transition: @transition;
		});
		.md-block({
			font-size: 3.7rem;
		});
		.sm-block({
			font-size: 3rem;
		});
		.xs-block({
			font-size: 2.7rem;
		});
	}
	&__tastyseason {
		//border: @border;
		align-self: center;
		width: 80%;
		color: @colortextlightgray;
		.lg-block({
			font-size: 0.9rem;
			margin-top: 10px;
		});
	}
	&__tastydescribe {
		//border: @border;
		font-family: 'Satisfy', cursive;
		font-size: 1.1rem;
		letter-spacing: 1px;
		align-self: center;
		margin: 70px 0;
		width: 80%;
		color: @colortextdarkgray;
		transition: @transition;
		.lg-block({
			font-size: 0.9rem;
			transition: @transition;
		});
		.md-block({
			font-size: 1rem;
			margin: 50px 0;
		});
		.sm-block({
			font-size: 0.8rem;
		});
	}
	&__blockslider {
		//border: @border;
		display: flex;
		justify-content: center;
		height: 30%;
		.md-block({
			margin-bottom: 50px;
		});
	}
	&__backbtn {
		//border: @border;
		transform: rotate(180deg);
		align-self: center;
		margin-right: 15px;
		border-radius: 50%;
		button {
			border-radius: 50%;
			border: none;
			width: 35px;
			height: 35px;
			background: none;
			border: 1px solid @colorbrowngray;
			color: @colorbrowngray;
			outline: none;
			transition: @transitionfast;
			&:active {
				color: black;
				border: 1px solid black;
				transition: @transitionfast;
			}
			.lg-block({
				width: 30px;
				height: 30px;
			});
			.md-block({
				width: 40px;
				height: 40px;
				transition: @transition;
			});
			.sm-block({
				width: 30px;
				height: 30px;
				transition: @transition;
			});
		}
	}
	&__firstimg {
		//border: @border;
		align-self: center;
		width: 110px;
		height: 110px;
		border-radius: 50%;
		margin: 0 15px;
		transition: @transition;
		img {
			height: 100%;
			border-radius: 50%;
			transition: @transition;
		}
		.xl-block({
			width: 100px;
			height: 100px;
			margin: 0 10px;
			transition: @transition;
		});
		.lg-block({
			width: 70px;
			height: 70px;
			transition: @transition;
		});
		.md-block({
			width: 100px;
			height: 100px;
			transition: @transition;
		});
		.sm-block({
			width: 70px;
			height: 70px;
			transition: @transition;
		});
		.xs-block({
			width: 60px;
			height: 60px;
			margin: 0 3px;
			transition: @transition;
		});
	}
	&__secondimg {
		//border: @border;
		align-self: center;
		width: 110px;
		height: 110px;
		border-radius: 50%;
		margin: 0 15px;
		transition: @transition;
		.xl-block({
			width: 100px;
			height: 100px;
			margin: 0 10px;
			transition: @transition;
		});
		.lg-block({
			width: 70px;
			height: 70px;
		});
		.md-block({
			width: 100px;
			height: 100px;
			transition: @transition;
		});
		.sm-block({
			width: 70px;
			height: 70px;
			transition: @transition;
		});
		.xs-block({
			width: 60px;
			height: 60px;
			margin: 0 3px;
			transition: @transition;
		});
		img {
			height: 100%;
			border-radius: 50%;
			transition: @transition;
		}
	}
	&__thirdimg {
		//border: @border;
		align-self: center;
		width: 110px;
		height: 110px;
		border-radius: 50%;
		margin: 0 15px;
		transition: @transition;
		.xl-block({
			width: 100px;
			height: 100px;
			margin: 0 10px;
			transition: @transition;
		});
		.lg-block({
			width: 70px;
			height: 70px;
		});
		.md-block({
			width: 100px;
			height: 100px;
			transition: @transition;
		});
		.sm-block({
			width: 70px;
			height: 70px;
			transition: @transition;
		});
		.xs-block({
			width: 60px;
			height: 60px;
			margin: 0 3px;
			transition: @transition;
		});
		img {
			height: 100%;
			border-radius: 50%;
			transition: @transition;
		}
	}
	&__forvardbtn {
		align-self: center;
		margin-left: 15px;
		button {
			border-radius: 50%;
			border: none;
			width: 35px;
			height: 35px;
			background: none;
			border: 1px solid @colorbrowngray;
			color: @colorbrowngray;
			outline: none;
			transition: @transitionfast;
			&:active {
				color: black;
				border: 1px solid black;
				transition: @transitionfast;
			}
			.lg-block({
				width: 30px;
				height: 30px;
				transition: @transition;
			});
			.md-block({
				width: 40px;
				height: 40px;
				transition: @transition;
			});
			.sm-block({
				width: 30px;
				height: 30px;
				transition: @transition;
			});
		}
	}
	&__readyblock {
		//border: @border;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		left: 94%;
		bottom: 400px;
		z-index: 1;
		width: 210px;
		height: 210px;
		background-image: url("../pict/ready_bg.png");
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
		transition: @transition;
		.xxl-block({
			left: 90%;
			bottom: 500px;
			width: 160px;
			height: 160px;
			transition: @transition;
		});
		.lg-block({
			left: 83%;
			transition: @transition;
		});
		.md-block({
			left: 70%;
			bottom: 780px;
			transition: @transition;
		});
		.xs-block({
			display: none;
			transition: @transition;
		});
	}
	&__readytext {
		font-size: 1.3rem;
		color: @colorredgold;
		font-weight: bold;
	}
	&__readytime {
		font-size: 6rem;
		font-weight: bold;
		color: @colorlightgold;
	}
	&__readymins {
		font-size: 1.5rem;
		color: @colorgray;
	}

}

// PANCAKES STOP

// ------

// BREAKFAST START

.breakfast {
	//border: @border;
	height: 950px;
	background-image: url("../pict/img_bg4.png");
	background-size: cover;
	&__wrap {
		//border: @border;
		display: flex;
		justify-content: center;
		height: 100%;
		background-image: url("../pict/ear.png");
		background-size: 25%;
		background-repeat: no-repeat;
		background-position: right bottom;
	}
	&__price {
		//border: @border;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 40%;
	}
	&__headertext {
		color: @colorwhite;
		font-size: 6rem;
		font-family: 'Lobster', cursive;
	}
	&__opentime {
		color: @colorredgold;
		font-weight: bold;
		font-size: 1.3rem;
		margin-bottom: 70px;
	}
	&__brkprice {
		//border: @border;
		text-align: center;
		margin: 30px 0;
		text-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
	}
	&__brkfull {
		font-size: 2.1rem;
		color: @colorwhite;
		font-weight: bold;
	}
	&__brkfulldescr {
		color: @colorgray;
		font-size: 1.2rem;
	}
	&__brkfulldollor {
		color: @colorgold;
		font-weight: bold;
		font-size: 2rem;
		margin-top: 20px;
	}
	&__ears {
		//border: @border;
	}




	&__flair {
		border: @border;
		width: 40%;
	}
}

// BREAKFAST STOP