@import "smart-grid.less";
@import "var.less";
@import "fonts.less";

.reset();
.debug {
	.debug(rgba(0, 0, 0, 0.1), 1px solid blue);
}

.wrapper {  // центрущая обертка
	.wrapper();
}

.body {
	box-sizing: border-box;
}


.showmenu {
	display: flex!important;
	position: fixed;
	top: 140px;
	justify-content: center;
	width: 70%!important;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	z-index: 10;
}


.hmbrgr {
	//border: @border;
	display: none;
	position: absolute;
	right: 5%;
	top: 5%;
	width: 50px;
	height: 50px;
	cursor: pointer;
	animation: hmbrgrscale 2s infinite ease-in-out;
	z-index: 10;
}

@keyframes hmbrgrscale {
	0% {transform: scale(1, 1)}
  50% {transform: scale(1.2, 1.2)}
	100% {transform: scale(1, 1)}
}


.mixinblocktastes {
  margin: 10px;
  outline: 5px solid @colorcream;
  outline-offset: -15px;
  width: 45%;
  position: relative;
  top: 130px;
	transition: @transition;
	.xl-block({
		width: 40%;
		transition: @transition;
	});
	.lg-block({
		display: flex;
		flex-direction: column;
		width: 60%;
		transition: @transition;
		top: 50px;
	});
	.md-block({
		width: 70%;
		transition: @transition;
		margin: 20px 0;
	});
	.sm-block({
		width: 80%;
		margin: 25px 0;
		top: 5px;
	});
	.xs-block({
		width: 95%;
		margin: 30px 0;
	});
  img {
    width: 100%;
  }
}

// PASTRY START
.pastry {
	&__wrap {
		background: url("../pict/img_bg.png");
		background-size: cover;
	}
	&__headerMenu {
		//border: @border;
		display: flex;
		justify-content: center;
		height: 80px;
		background-color: rgba(0, 0, 0, 0.3);
		transition: @transition;
		.md-block({
			height: 200px;
			transition: @transition;
		});
		.sm-block({
			height: 450px;
		});
		.xs-block({
			margin-bottom: 30px;
		});
	}
	&__block {
		//border: @border;
		width: 83%;
		display: flex;
		font-family: 'Dancing Script', cursive;
		transition: @transition;
		.lg-block({
			width: 95%;
			transition: @transition;
		});
		.md-block({
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			transition: @transition;
		});
	}
	&__logo {
		//border: @border;
		width: 15%;
		.md-block({
			width: 150px;
			margin: 10px;
		});
		img {
			height: 100%;
			width: 90%;
			transition: @transition;
			.xl-block({
				width: 100%;
				transition: @transition;
			});
			.lg-block({
				width: 100%;
			});
		}
	}
	&__menu {
		//border: @border;
		display: flex;
		justify-content: center;
		width: 75%;
		color: white;
		.md-block({
			width: 100%;
		});
	}
	&__menublock {
		//border: @border;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 95%;
		.md-block({
			width: 100%;
			margin: 10px;
		});
		.sm-block({
			flex-direction: column;
		});
		a {
			display: flex;
			justify-content: center;
			flex-grow: 1;
			color: white;
			font-size: 1.2rem;
			text-decoration: none;
			transition: @transition;
			&:hover {
				background: rgba(255, 255, 255, 0.7);
				color: black;
				padding: 10px;
				border-radius: 10px;
			}
			.xl-block({
				font-size: 1rem;
				transition: @transition;
			});
			.lg-block({
				padding: 5px;
			});
		}
		span {
			padding: 0 3px;
		}
	}
	&__socialnetwork {
		//border: @border;
		width: 12%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		.md-block({
			margin: 10px;
			height: 15%;
			width: 150px;
		});
		.sm-block({
			width: 200px;
		});
		img {
			width: 20px;
			padding: 10px;
			margin: 7px;
			transition: @transition;
			&:hover {
				background: rgba(255, 255, 255, 0.3);
				border-radius: 10px;
				color: black;
				transition: @transition;
			}
			.md-block({
				width: 30px;
			});
			.sm-block({
				width: 30px;
			});
		}
	}
	&__withlove {
		//border: @border;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: white;
	}
	&__textlove {
		//border: @border;
		display: flex;
		justify-content: center;
		align-self: center;
		width: 90%;
		margin-bottom: 20px;
		.mgxl-block({
			margin-top: 50px;
		});
		.xxl-block({
			margin-top: 50px;
		});
		.md-block({
			margin-top: 20px;
		});
		.sm-block({
			margin-top: 80px;
		});
		.xs-block({
			margin-top: 450px;
		});
		span {
			text-align: center;
			font-family: 'Courgette', cursive;
			font-style: italic;
			font-size: 8.2rem;
			text-shadow: 2px 2px 7px #000;
			transition: @transition;
			.xl-block({
				font-size: 7.1rem;
				transition: @transition;
			});
			.lg-block({
				font-size: 5rem;
			});
			.md-block({
				font-size: 5rem;
			});
			.sm-block({
				font-size: 5rem;
			});
			.xs-block({
				font-size: 2.5rem;
			});
		}
	}
	&__dashed {
		display: flex;
		justify-content: center;
		margin: 40px;
		img {
			width: 15%;
			height: 100%;
			transition: @transition;
			.lg-block({
				width: 25%;
				transition: @transition;
			});
			.md-block({
				width: 35%;
			});
			.xs-block({
				width: 45%;
			});
		}
	}
	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 40px;
		span {
			align-self: center;
			font-size: 1.7rem;
			font-family: 'Mukta', sans-serif;
			text-shadow: 2px 2px 7px #000;
			letter-spacing: 3px;
			text-align: center;
			transition: @transition;
			.lg-block({
				font-size: 1.3rem;
				transition: @transition;
			});
		}
	}
	&__btn {
		display: flex;
		justify-content: center;
		margin: 40px;
		button {
			width: 220px;
			height: 50px;
			background-color: rgba(0, 0, 0, 0.3);
			border: 1px dashed darkgray;
			color: white;
			font-size: 1rem;
			cursor: pointer;
			font-family: 'Mukta', sans-serif;
			transition: @transition;
			outline: 0;
			&:hover {
				box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
				transform: scale(1.1, 1.1);
				outline: 0;
			}
			.sm-block({
				width: 180px;
				height: 40px;
				transition: @transition;
			});
			.xs-block({
				margin-bottom: 250px;
			});
		}
	}
}

// PASTRY STOP

//  -----------

// ART START
.art {
	&__wrap {
		display: flex;
		justify-content: center;
		flex-direction: column;
		background: url("../pict/img_bg2.png");
		background-size: cover;
	}
	&__bread {
		height: 1px;
		overflow: hidden;
		img {
			position: relative;
			top: -51px;
			width: 100%;
			transition: @transition;
			.xxl-block({
				top: -40px;
				transition: @transition;
			});
			.xl-block({
				top: -35px;
				transition: @transition;
			});
			.lg-block({
				top: -25px;
				transform: scale(1.5, 1.5);
			});
			.md-block({
				top: -20px;
				transform: scale(2, 2);
			});
			.sm-block({
				top: -15px;
				transform: scale(2.5, 2.5);
			});
			.xs-block({
				top: -10px;
			});
		}
	}
	&__content {
		display: flex;
		justify-content: center;
	}
	&__leftcontent {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 40%;
		transition: @transition;
		.xxl-block({
			width: 45%;
			transition: @transition;
		});
	}
	&__headertext {
		text-align: center;
		color: @colortextdarkgray;
		font-family: 'Lobster', cursive;
		span {
			font-size: 4rem;
			transition: @transition;
			.xxl-block({
				font-size: 3rem;
				transition: @transition;
			});
		}
	}
	&__create {
		text-align: center;
		color: @colortextlightgray;
		margin-bottom: 50px;
		.xxl-block({
			margin-bottom: 40px;
		});
		span {
			font-size: 1.1rem;
			transition: @transition;
			.xxl-block({
				font-size: 0.9rem;
				transition: @transition;
			});
		}
	}
	&__describeart {
		align-self: center;
		text-align: center;
		width: 60%;
		margin-bottom: 40px;
		font-family: 'Satisfy', cursive;
		transition: @transition;
		.xxl-block({
			width: 65%;
			margin-bottom: 20px;
			transition: @transition;
		});
		span {
			color: @colortextdarkgray;
			transition: @transition;
			.xxl-block({
				font-size: 0.9rem;
				transition: @transition;
			});
		}
	}
	&__chefcook {
		text-align: center;
		margin-bottom: 40px;
		font-family: 'Lobster', cursive;
		transition: @transition;
		.xxl-block({
			margin-bottom: 20px;
			transition: @transition;
		});
		span {
			font-size: 1.5rem;
			font-weight: bolder;
			color: @colortextdarkgray;
			transition: @transition;
			.xxl-block({
				font-size: 1.3rem;
				transition: @transition;
			});
		}
	}
	&__benitogaspare {
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
		font-family: 'Lobster', cursive;
		font-size: 1.5rem;
		transition: @transition;
		.xxl-block({
			margin-bottom: 20px;
			transition: @transition;
		});
		.xl-block({
			justify-content: space-between;
			transition: @transition;
		});
		.lg-block({
			flex-direction: column;
			align-items: center;
			transition: @transition;
		});
	}
	&__benito {
		border-bottom: 1px solid @colortextlightgray;
		border-top: 1px solid @colortextlightgray;
		align-self: center;
		padding: 15px 25px;
		margin: 0 35px;
		transition: @transition;
		.xxl-block({
			font-size: 1.2rem;
		});
		.xl-block({
			font-size: 1rem;
		});
	}
	&__facepict {
		width: 120px;
		height: 120px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__gaspare {
		border-bottom: 1px solid @colortextlightgray;
		border-top: 1px solid @colortextlightgray;
		align-self: center;
		padding: 15px 25px;
		margin: 0 35px;
		transition: @transition;
		.xxl-block({
			font-size: 1.2rem;
			transition: @transition;
		});
		.xl-block({
			font-size: 1rem;
		});
	}
    &__autograph {
      display: flex;
      flex-direction: row;
      justify-content: center;
			height: 100px;
			.xs-block({
				display: none;
			});
    }
    &__commatop {
	  	margin: 0 55px;
			width: 30px;
			transition: @transition;
			.xl-block({
				margin: 0 30px;
				transition: @transition;
			});
			.lg-block({
				margin: 0 10px;
			});
			.md-block({
				display: none;
			});
    }
    &__citate {
		align-self: center;
		text-align: center;
		transition: @transition;
		img {
			width: 80%;
			transition: @transition;
			.md-block({
				width: 100%;
			});
		}
		.xl-block({
			width: 400px;
			transition: @transition;
		});
    }
    &__commabottom {
      display: flex;
      justify-content: flex-end;
	  	margin: 0 55px;
			width: 30px;
			transition: @transition;
			.xl-block({
				margin: 0 30px;
				transition: @transition;
			});
			.lg-block({
				margin: 0 10px;
			});
			.md-block({
				display: none;
			});
      img {
        align-self: flex-end;
        transform: rotate(180deg);
				transition: @transition;
      }
    }
	&__rightcontent {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
			width: 40%;
			transition: @transition;
			.xxl-block({
				width: 45%;
				transition: @transition;
			});
	}
    &__oneblock {
      .mixinblocktastes();
    }
    &__twoblock {
      .mixinblocktastes();
    }
    &__threeblock {
      .mixinblocktastes();
    }
    &__fourblock {
      .mixinblocktastes();
    }
    &__fiveblock {
			display: flex;
			justify-content: center;
      position: relative;
	  	bottom: 35%;
			width: 240px;
			height: 240px;
			transition: @transition;
	  	.mgxl-block({
	  		bottom: 33%;
				transition: @transition;
	  	});
	  	.xxl-block({
	  		bottom: 30%;
				width: 220px;
				height: 220px;
				transition: @transition;
	  	});
			.xl-block({
				width: 180px;
				height: 180px;
			  bottom: 28%;
			});
			.lg-block({
				display: none;
			});
      img {
				transition: @transition;
				width: 100%;
      }
      span {
        position: absolute;
        font-size: 2rem;
        text-align: center;
        top: 35%;
        color: @colorgold;
				transition: @transition;
				.xxl-block({
					font-size: 1.7rem;
					transition: @transition;
				});
      }
    }
}
// ART STOP

// ------

// PANCAKES START

.pancakes {
	&__wrap {
		border: 1px solid transparent;
		background: url("../pict/img_bg3.png");
		background-size: cover;
		transition: @transition;
		.md-block({
			height: 1200px;
			transition: @transition;
		});
		.lg-block({
			margin-top: 100px;
			transition: @transition;
		});
		.sm-block({
			margin-top: 30px;
		});
	}
	&__generalblock {
		display: flex;
		justify-content: center;
		height: 550px;
		margin: 170px 0 150px 0;
	}
	&__centerblock {
		display: flex;
		position: relative;
		height: 100%;
		width: 65%;
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
		transition: @transition;
		.shift-right(1);
		.xxl-block({
			.shift-right(0);
			width: 80%;
		});
		.xl-block({
			.shift-right(0);
			width: 85%;
			transition: @transition;
		});
		.md-block({
			.shift-right(0);
			flex-direction: column;
			width: 90%;
			height: 850px;
		});
	}
	&__fritter {
		display: flex;
		align-items: center;
		width: 40%;
		height: 100%;
		background-image: url("../pict/pancakes.png");
		background-size: cover;
		.md-block({
			width: 100%;
		});
	}
	&__stars {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		position: relative;
		width: 5%;
		height: 34%;
		left: 5%;
		transition: @transition;
		.xxl-block({
			width: 5%;
			height: 32%;
			transition: @transition;
		});
		.lg-block({
			width: 7%;
		});
		.md-block({
			flex-direction: row;
			align-self: flex-end;
			width: 45%;
			height: 5%;
			left: 25%;
			margin-bottom: 10px;
		});
		.sm-block({
			width: 60%;
			height: 4%;
			left: 20%;
		});
		.xs-block({
			height: 5%;
		});
		i {
			font-size: 1.7rem;
			color: white;
		}
	}
	&__describefritter {
		width: 60%;
		background-color: white;
		background-image: url("../pict/mill.png");
		background-size: auto;
		background-repeat: no-repeat;
		background-position: right bottom;
		.md-block({
			width: 100%;
		});
	}
	&__textpancakes {
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 70%;
	}
	&__tastyheader {
		font-family: 'Lobster', cursive;
		width: 80%;
		font-size: 3.7rem;
		align-self: center;
		color: @colortextdarkgray;
		transition: @transition;
		.xl-block({
			font-size: 3.2rem;
		});
		.lg-block({
			font-size: 3rem;
			transition: @transition;
		});
		.md-block({
			font-size: 3.7rem;
		});
		.sm-block({
			font-size: 3rem;
		});
		.xs-block({
			font-size: 2.7rem;
		});
	}
	&__tastyseason {
		align-self: center;
		width: 80%;
		color: @colortextlightgray;
		.lg-block({
			font-size: 0.9rem;
			margin-top: 10px;
		});
	}
	&__tastydescribe {
		font-family: 'Satisfy', cursive;
		font-size: 1.1rem;
		letter-spacing: 1px;
		align-self: center;
		margin: 70px 0;
		width: 80%;
		color: @colortextdarkgray;
		transition: @transition;
		.lg-block({
			font-size: 0.9rem;
			transition: @transition;
		});
		.md-block({
			font-size: 1rem;
			margin: 50px 0;
		});
		.sm-block({
			font-size: 0.8rem;
		});
	}
	&__blockslider {
		//border: @border;
		display: flex;
		justify-content: center;
		height: 30%;
		.md-block({
			margin-bottom: 50px;
		});
	}
	&__backbtn {
		//border: @border;
		transform: rotate(180deg);
		align-self: center;
		margin-right: 15px;
		border-radius: 50%;
		button {
			border-radius: 50%;
			border: none;
			width: 35px;
			height: 35px;
			background: none;
			border: 1px solid @colorbrowngray;
			color: @colorbrowngray;
			outline: none;
			transition: @transitionfast;
			&:active {
				color: black;
				border: 1px solid black;
				transition: @transitionfast;
			}
			.lg-block({
				width: 30px;
				height: 30px;
			});
			.md-block({
				width: 40px;
				height: 40px;
				transition: @transition;
			});
			.sm-block({
				width: 30px;
				height: 30px;
				transition: @transition;
			});
		}
	}
	&__firstimg {
		//border: @border;
		align-self: center;
		width: 110px;
		height: 110px;
		border-radius: 50%;
		margin: 0 15px;
		transition: @transition;
		img {
			height: 100%;
			border-radius: 50%;
			transition: @transition;
		}
		.xl-block({
			width: 100px;
			height: 100px;
			margin: 0 10px;
			transition: @transition;
		});
		.lg-block({
			width: 70px;
			height: 70px;
			transition: @transition;
		});
		.md-block({
			width: 100px;
			height: 100px;
			transition: @transition;
		});
		.sm-block({
			width: 70px;
			height: 70px;
			transition: @transition;
		});
		.xs-block({
			width: 60px;
			height: 60px;
			margin: 0 3px;
			transition: @transition;
		});
	}
	&__secondimg {
		align-self: center;
		width: 110px;
		height: 110px;
		border-radius: 50%;
		margin: 0 15px;
		transition: @transition;
		.xl-block({
			width: 100px;
			height: 100px;
			margin: 0 10px;
			transition: @transition;
		});
		.lg-block({
			width: 70px;
			height: 70px;
		});
		.md-block({
			width: 100px;
			height: 100px;
			transition: @transition;
		});
		.sm-block({
			width: 70px;
			height: 70px;
			transition: @transition;
		});
		.xs-block({
			width: 60px;
			height: 60px;
			margin: 0 3px;
			transition: @transition;
		});
		img {
			height: 100%;
			border-radius: 50%;
			transition: @transition;
		}
	}
	&__thirdimg {
		align-self: center;
		width: 110px;
		height: 110px;
		border-radius: 50%;
		margin: 0 15px;
		transition: @transition;
		.xl-block({
			width: 100px;
			height: 100px;
			margin: 0 10px;
			transition: @transition;
		});
		.lg-block({
			width: 70px;
			height: 70px;
		});
		.md-block({
			width: 100px;
			height: 100px;
			transition: @transition;
		});
		.sm-block({
			width: 70px;
			height: 70px;
			transition: @transition;
		});
		.xs-block({
			width: 60px;
			height: 60px;
			margin: 0 3px;
			transition: @transition;
		});
		img {
			height: 100%;
			border-radius: 50%;
			transition: @transition;
		}
	}
	&__forvardbtn {
		align-self: center;
		margin-left: 15px;
		button {
			border-radius: 50%;
			border: none;
			width: 35px;
			height: 35px;
			background: none;
			border: 1px solid @colorbrowngray;
			color: @colorbrowngray;
			outline: none;
			transition: @transitionfast;
			&:active {
				color: black;
				border: 1px solid black;
				transition: @transitionfast;
			}
			.lg-block({
				width: 30px;
				height: 30px;
				transition: @transition;
			});
			.md-block({
				width: 40px;
				height: 40px;
				transition: @transition;
			});
			.sm-block({
				width: 30px;
				height: 30px;
				transition: @transition;
			});
		}
	}
	&__readyblock {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		left: 94%;
		bottom: 400px;
		z-index: 1;
		width: 210px;
		height: 210px;
		background-image: url("../pict/ready_bg.png");
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
		transition: @transition;
		.xxl-block({
			left: 90%;
			bottom: 500px;
			width: 160px;
			height: 160px;
			transition: @transition;
		});
		.lg-block({
			left: 83%;
			transition: @transition;
		});
		.md-block({
			left: 70%;
			bottom: 780px;
			transition: @transition;
		});
		.xs-block({
			display: none;
			transition: @transition;
		});
	}
	&__readytext {
		font-size: 1.3rem;
		color: @colorredgold;
		font-weight: bold;
	}
	&__readytime {
		font-size: 6rem;
		font-weight: bold;
		color: @colorlightgold;
	}
	&__readymins {
		font-size: 1.5rem;
		color: @colorgray;
	}
}

// PANCAKES STOP

// ------

// BREAKFAST START

.breakfast {
	height: 950px;
	background-image: url("../pict/img_bg4.png");
	background-size: cover;
	&__wrap {
		//border: @border;
		display: flex;
		justify-content: center;
		height: 100%;
		.md-block({
			flex-direction: column;
		});
	}
	&__shadowscreen {
		border: @border;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		width: 100%;
		height: 130%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 5;
	}
	&__menuscreen {
		border: @border;
		width: 40%;
		height: 70%;
		background-image: url("../pict/menu.jpg");
		background-size: cover;
	}
	&__logoscreen {

	}
	&__dishesscreen {

	}
	&__costscreen {

	}
	&__price {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 35%;
		transition: @transition;
		.xl-block({
			width: 45%;
		});
		.lg-block({
			width: 48%;
			transition: @transition;
		});
		.md-block({
			width: 95%;
			height: 50%;
		});
	}
	&__headertext {
		color: @colorwhite;
		font-size: 6rem;
		font-family: 'Lobster', cursive;
		transition: @transition;
		.xxl-block({
			font-size: 5rem;
			transition: @transition;
		});
		.xl-block({
			font-size: 4rem;
		});
		.lg-block({
			font-size: 3rem;
		});
	}
	&__opentime {
		color: @colorlightbrown;
		font-weight: bold;
		font-size: 1.1rem;
		margin-bottom: 50px;
		text-shadow: 0px 4px 3px rgba(0,0,0,0.5),
		             0px 8px 13px rgba(0,0,0,0.5),
		             0px 18px 23px rgba(0,0,0,0.5);
		transition: @transition;
		.xxl-block({
			font-size: 1rem;
			transition: @transition;
		});
		.xl-block({
			font-size: 1.3rem;
			margin-top: 20px;
		});
		.lg-block({
			font-size: 1rem;
			text-align: center;
			flex-wrap: wrap;
		});
		.md-block({
			margin-bottom: 10px;
		});
	}
	&__brkprice {
		text-align: center;
		margin: 30px 0;
		transition: @transition;
		.xl-block({
			text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
			             0px 8px 8px rgba(0,0,0,0.4),
			             0px 18px 18px rgba(0,0,0,0.4);
			transition: @transition;
		});
		.lg-block({
			margin: 10px 0;
		});
		.md-block({
			margin: 0;
		});
	}
	&__brkfull {
		font-size: 2.1rem;
		color: @colorwhite;
		font-weight: bold;
		transition: @transition;
		.lg-block({
			font-size: 1.8rem;
			transition: @transition;
		});
	}
	&__brkfulldescr {
		color: white;
		font-weight: bolder;
		font-size: 1.2rem;
		transition: @transition;
		.sm-block({
			font-size: 1rem;
			transition: @transition;
		});
	}
	&__brkfulldollor {
		color: @colorgold;
		font-weight: bold;
		font-size: 2rem;
		margin-top: 20px;
		transition: @transition;
		.lg-block({
			color: @colordarkgold;
			transition: @transition;
		});
		.md-block({
			margin: 0;
		});
	}
	&__flair {
		width: 40%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: @transition;
		.xl-block({
			width: 45%;
		});
		.lg-block({
			width: 48%;
			transition: @transition;
		});
		.md-block({
			width: 95%;
			height: 50%;
			margin: 30px 0;
		});
	}
	&__flaircover {
		border: @border;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		height: 75%;
		width: 80%;
		background-image: url("../pict/flair_bg2.png");
		background-size: cover;
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
		outline: 2px dashed @colortextlightgray;
		outline-offset: -15px;
		transition: @transition;
		.xxl-block({
			width: 95%;
			transition: @transition;
		});
		.xl-block({
			height: 70%;
		});
		.lg-block({
			height: 65%;
		});
		.md-block({
			height: 99%;
		});
	}
	&__est {
		display: flex;
		justify-content: space-around;
		margin-top: 50px;
		span {
			font-size: 1.2rem;
			font-weight: bold;
			color: @colortextdarkgray;
			.lg-block({
				font-size: 1rem;
			});
		}
	}
	&__bagel {
		display: flex;
		justify-content: center;
		align-self: center;
		width: 100%;
		height: 10%;
		margin-top: -50px;
		transition: @transition;
		img {
			width: 85%;
		}
		.xxl-block({
			height: 8%;
		});
		.xl-block({
			width: 95%;
			height: 9%;
			transition: @transition;
		});
		.lg-block({
			height: 8%;
		});
		.md-block({
			height: 15%;
		});
		.xs-block({
			height: 12%;
		});
	}
	&__escape {
		align-self: center;
		font-size: 3.5rem;
		width: 80%;
		color: @colortextdarkgray;
		text-align: center;
		transition: @transition;
		.xl-block({
			font-size: 3rem;
			transition: @transition;
		});
		.lg-block({
			font-size: 2rem;
			transition: @transition;
		});
		.md-block({
			font-size: 1.7rem;
			transition: @transition;
		});
		.xs-block({
			font-size: 1.5rem;
			transition: @transition;
		});
	}
	&__escdescribe {
		align-self: center;
		width: 80%;
		color: @colortextdarkgray;
		text-align: center;
		font-size: 1.2rem;
		line-height: 35px;
		letter-spacing: 1px;
		.lg-block({
			font-size: 1rem;
			letter-spacing: 0;
		});
		.sm-block({
			font-size: 0.9rem;
			line-height: 20px;
		});
	}
	&__btnread {
		align-self: center;
		margin-bottom: 30px;
		z-index: 1;
		button {
			border: 1px solid @colortextdarkgray;
			font-size: 1.5rem;
			font-weight: bold;
			color: @colorredgold;
			width: 230px;
			height: 60px;
			background-color: transparent;
			cursor: pointer;
			outline: 0;
			transition: @transition;
			.xl-block({
				width: 170px;
				height: 45px;
				font-size: 1.2rem;
				transition: @transition;
			});
		}
	}
	&__ear {
		position: absolute;
		width: 100%;
		height: 90%;
		background-image: url("../pict/ear.png");
		background-size: 29%;
		background-repeat: no-repeat;
		background-position: right bottom;
	}

}

// BREAKFAST STOP

// ------------------

// SANDWICH START

.sandwich {
	background-color: @colorsandwich;
	transition: @transition;
	&__wrap {

	}
	&__fullmenu {
		position: absolute;
		transition: @transition;
	}
	&__menublock {
		display: flex;
		width: 55%;
		height: 50%;
		border-radius: 30px;
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
		transition: @transition;
		.xxl-block({
			width: 60%;
			height: 45%;
			transition: @transition;
		});
		.xl-block({
			height: 40%;
			transition: @transition;
		});
		.lg-block({
			width: 65%;
			height: 35%;
			transition: @transition;
		});
		.md-block({
			position: relative;
			top: 500px;
		});
		.sm-block({
			width: 80%;
			transition: @transition;
		});
		.xs-block({
			width: 90%;
			transition: @transition;
		});
	}
	&__pictburger {
		display: none;
		width: 55%;
		height: 100%;
		border-radius: 30px 0 0 30px;
		transition: @transition;
		.md-block({
			height: 1px;
		});
		img {
			height: 100%;
			border-radius: 30px 0 0 30px;
			transition: @transition;
		}
	}
	&__recipeburger {
		display: none;
		flex-direction: column;
		justify-content: space-around;
		position: relative;
		top: -15px;
		width: 45%;
		height: 95%;
		color: #fff;
		text-align: center;
		transition: @transition;
		.md-block({
			width: 70%;
			transition: @transition;
		});
		h4 {
			color: @colorlightgold;
			font-size: 3.2rem;
			font-weight: bolder;
			transition: @transition;
			.xxl-block({
				font-size: 2.8rem;
				transition: @transition;
			});
			.xl-block({
				font-size: 2.5rem;
				transition: @transition;
			});
			.lg-block({
				font-size: 2rem;
				text-shadow: 2px 2px 7px #000;
				transition: @transition;
			});
			.md-block({
				font-size: 2.7rem;
				text-shadow: 2px 2px 7px #000;
				transition: @transition;
			});
		}
		span {
			font-size: 1.4rem;
			transition: @transition;
			font-weight: bolder;
			.xxl-block({
				font-size: 1.2rem;
				transition: @transition;
			});
			.xl-block({
				font-size: 1.1rem;
				transition: @transition;
			});
			.lg-block({
				font-size: 1rem;
				transition: @transition;
			});
			.md-block({
				text-shadow: 2px 2px 7px #000;
				font-size: 1.1rem;
				transition: @transition;
			});
			.sm-block({
				text-shadow: 2px 2px 7px #000;
				font-size: 1.4rem;
				transition: @transition;
			});
			.xs-block({
				text-shadow: 1px 1px 5px #000;
				font-size: 1.2rem;
				transition: @transition;
			});
		}
	}
	&__closebtn {
		display: none;
		align-self: flex-end;
		position: relative;
		top: -15px;
		left: 30px;
		height: 35px;
		width: 30px;
		transition: @transition;
		.md-block({
			left: 80px;
			transition: @transition;
		});
		.xs-block({
			left: 45px;
			transition: @transition;
		});
		img {
			font-size: 2rem;
			border-radius: 100%;
			border: 2px solid white;
			cursor: pointer;
			transition: @transition;
		}
	}
	.popup {
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.6);
		width: 100%;
		height: 1380px;
		z-index: 10;
		transition: @transition;
		.xl-block({
			height: 1325px;
			transition: @transition;
		});
		.lg-block({
			height: 1370px;
			transition: @transition;
		});
		.md-block({
			height: 2370px;
			transition: @transition;
		});
		.sm-block({
			height: 2050px;
			transition: @transition;
		});
		.xs-block({
			height: 1900px;
			transition: @transition;
		});
	}
	.popup2 {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.8);
		transition: @transition;
		.md-block({
			flex-direction: column;
			height: 500px;
			background-image: url("../pict/hamburgerhorizont.png");
			background-position: bottom;
			background-size: cover;
			transition: @transition;
		});
	}
	&__villageblock {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__villageimg {
		height: 20%;
		transition: @transition;
		.xl-block({
			width: 50%;
			transition: @transition;
		});
		.lg-block({
			width: 65%;
		});
		.md-block({
			width: 75%;
		});
		.sm-block({
			width: 90%;
		});
	}
	&__villagehdrtxt {
		position: relative;
		top: -45px;
		transition: @transition;
		text-align: center;
		.md-block({
			top: -20px;
			transition: @transition;
		});
		.sm-block({
			top: 0;
			margin-top: 10px;
			transition: @transition;
		});
		span {
			font-size: 3rem;
			font-weight: bold;
			color: @colortextdarkgray;
			transition: @transition;
			.xl-block({
				font-size: 2.5rem;
				transition: @transition;
			});
			.md-block({
				font-size: 2rem;
			});
			.xs-block({
				font-size: 1.3rem;
			});
		}
	}
	&__villagetext {
		position: relative;
		top: -45px;
		text-align: center;
		transition: @transition;
		.md-block({
			top: -20px;
			transition: @transition;
		});
		.sm-block({
			top: 0;
		});
		span {
			font-size: 0.9rem;
			font-weight: bolder;
			color: @colorredgold;
			transition: @transition;
			.md-block({
				font-size: 1rem;
				transition: @transition;
			});
			.sm-block({
				font-size: 0.7rem;
			});
		}
	}
  &__dishes {
      display: flex;
			.md-block({
				flex-direction: column;
			});
  }
  &__dishesleft {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 35%;
      height: 100%;
			transition: @transition;
			.xxl-block({
				width: 30%;
				transition: @transition;
			});
			.md-block({
				width: 100%;
			});
  }
  &__dishesblock {
      display: flex;
      flex-direction: column;
      align-items: center;
			margin: 50px 0;
  }
  &__dishesimage {
      height: 120px;
      width: 120px;
			transition: @transition;
			.md-block({
				height: 170px;
				width: 170px;
				transition: @transition;
			});
			.sm-block({
				height: 140px;
				width: 140px;
				transition: @transition;
			});
			.xs-block({
				height: 120px;
				width: 120px;
				transition: @transition;
			});
      img {
        height: 100%;
        width: 100%;
				transition: @transition;
      }
  }
	&__disheshdr {
		margin-top: 10px;
		span {
			font-size: 1.8rem;
			font-weight: bolder;
			color: @colordarkgold;
			transition: @transition;
			.xl-block({
				font-size: 1.5rem;
				transition: @transition;
			});
			.md-block({
				font-size: 2rem;
				transition: @transition;
			});
			.sm-block({
				font-size: 1.6rem;
				transition: @transition;
			});
		}
	}
	&__dishestext {
		width: 80%;
		text-align: center;
		margin-top: 20px;
		color: @colortextdarkgray;
		transition: @transition;
		.xl-block({
			width: 70%;
			transition: @transition;
		});
		.md-block({
			width: 85%;
			font-size: 1.2rem;
			transition: @transition;
		});
		.sm-block({
			font-size: 1rem;
			transition: @transition;
		});
		.xs-block({
			width: 70%;
			transition: @transition;
		});
	}
  &__dishesright {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
     width: 65%;
		.md-block({
			flex-direction: column;
			width: 100%;
		});
  }
	&__hamburger {
		height: 60%;
		display: flex;
		justify-content: center;
		transition: @transition;
		.xxl-block({
			height: 50%;
			transition: @transition;
		});
		.lg-block({
			height: 35%;
			transition: @transition;
		});
		.md-block({
			width: 95%;
			height: 100%;
		});
		img {
			height: 100%;
			box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
			.md-block({
				width: 100%;
			});
		}
	}
	&__recipebtn {
		margin-top: 50px;
		transition: @transition;
		.lg-block({
			align-self: flex-start;
			transition: @transition;
		});
		.md-block({
			margin: 30px 0 20px 0;
			align-self: center;
			transition: @transition;
		});
		button {
			width: 300px;
			height: 70px;
			background-color: white;
			border: 2px dashed @colorlightgold;
			color: @colorlightgold;
			font-weight: bolder;
			outline: none;
			cursor: pointer;
			transition: @transition;
			.sm-block({
				width: 210px;
				height: 50px;
				transition: @transition;
			});
			.xs-block({
				width: 160px;
				height: 40px;
				border: 1px dashed @colorlightgold;
				transition: @transition;
			});
		}
	}
	&__pcr {
		display: flex;
		flex-direction: column;
		position: absolute;
		left: 79%;
		width: 220px;
		height: 75%;
		transition: @transition;
		.xl-block({
			width: 180px;
			left: 75%;
			height: 60%;
			transition: @transition;
		});
		.md-block({
			flex-direction: row;
			position: inherit;
			margin-top: 15px;
			width: 95%;
			box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
		});
	}
	&__prep {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		background-color: rgba(255, 255, 255, 0.6);
		flex-grow: 1;
		margin-top: 1px;
		box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
	}
	&__textprep {
		span {
			font-size: 1.3rem;
			font-weight: bolder;
			color: @colordarkgold;
			transition: @transition;
			.sm-block({
				font-size: 0.9rem;
				transition: @transition;
			});
			.xs-block({
				font-size: 0.7rem;
				transition: @transition;
			});
		}
	}
	&__texttime {
		span {
			font-size: 5rem;
			font-weight: bolder;
			color: @colortextdarkgray;
			transition: @transition;
			.sm-block({
				font-size: 4rem;
				transition: @transition;
			});
			.xs-block({
				font-size: 3rem;
				transition: @transition;
			});
		}
	}
	&__textmin {
		span {
			color: @colorgray;
		}
	}
	&__cook {
		background-color: rgba(255, 255, 255, 0.6);
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		flex-grow: 1;
		margin-top: 1px;
	}
	&__textcook {
		span {
			font-size: 1.3rem;
			font-weight: bolder;
			color: @colordarkgold;
			.sm-block({
				font-size: 0.9rem;
				transition: @transition;
			});
			.xs-block({
				font-size: 0.7rem;
				transition: @transition;
			});
		}
	}
	&__ready {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		background-image: url("../pict/ready_bg.png");
		background-size: cover;
		flex-grow: 1;
		margin-top: 1px;
	}
	&__textready {
		span {
			font-size: 1.3rem;
			font-weight: bolder;
			color: @colordarkgold;
			transition: @transition;
			.sm-block({
				font-size: 0.9rem;
				transition: @transition;
			});
			.xs-block({
				font-size: 0.7rem;
				transition: @transition;
			});
		}
	}
	&__textreadytime {
		span {
			font-size: 5rem;
			font-weight: bolder;
			color: @colorlightgold;
			transition: @transition;
			.sm-block({
				font-size: 4rem;
				transition: @transition;
			});
			.xs-block({
				font-size: 3rem;
				transition: @transition;
			});
		}
	}
	&__footermenu {
		display: flex;
		justify-content: center;
		margin-top: 70px;
		padding-bottom: 50px;
		.md-block({
			flex-direction: column;
			justify-content: center;
		});
	}
	&__footermenuleft {
		border-top: 1px solid @colorgray;
		border-bottom: 1px solid @colorgray;
		display: flex;
		justify-content: space-around;
		align-items: center;
		align-self: center;
		width: 30%;
		font-size: 1.1rem;
		margin-right: 70px;
		transition: @transition;
		.xxl-block({
			font-size: 1rem;
			width: 35%;
			transition: @transition;
		});
		.lg-block({
			width: 40%;
			height: 10%;
			margin-right: 20px;
			font-size: 0.9rem;
			transition: @transition;
		});
		.md-block({
			width: 80%;
			font-size: 1.1rem;
			margin: 0;
			transition: @transition;
		});
		.sm-block({
			font-size: 0.9rem;
			transition: @transition;
		});
		.xs-block({
			width: 90%;
			font-size: 0.8rem;
			transition: @transition;
		});
		a {
			color: @colortextdarkgray;
			text-decoration: none;
			margin: 30px 0;
			transition: @transition;
			.lg-block({
				margin: 20px 0;
				transition: @transition;
			});
		}
	}
	&__footerlogo {
		width: 10%;
		align-self: center;
		transition: @transition;
		.md-block({
			width: 20%;
			margin: 20px 0;
			transition: @transition;
		});
	}
	&__footermenuright {
		border-top: 1px solid @colorgray;
		border-bottom: 1px solid @colorgray;
		display: flex;
		justify-content: space-around;
		align-items: center;
		align-self: center;
		width: 30%;
		height: 40%;
		font-size: 1.1rem;
		margin-left: 70px;
		transition: @transition;
		.xxl-block({
			font-size: 1rem;
			width: 35%;
			transition: @transition;
		});
		.lg-block({
			width: 40%;
			margin-left: 20px;
			font-size: 0.9rem;
			transition: @transition;
		});
		.md-block({
			width: 80%;
			font-size: 1.1rem;
			margin: 0;
			transition: @transition;
		});
		.sm-block({
			font-size: 0.9rem;
			transition: @transition;
		});
		.xs-block({
			width: 90%;
			font-size: 0.8rem;
			transition: @transition;
		});
		a {
			color: @colortextdarkgray;
			text-decoration: none;
			margin: 30px 0;
			transition: @transition;
			.lg-block({
				margin: 20px 0;
				transition: @transition;
			});
		}
	}
}

// SANDWICH STOP